body.c-dark-theme {
  background-color: #181818;
  #header {
    background-color: #222222;
    .hpro-tabs {
      background-color: #222222;
      .active {
        .tabs-background-content {
          background-color: #333333;
        }
        .tabs-background-before, .tabs-background-after {
          fill: #333333;
        }
        .tabs-close {
          background-color: #333333;
          .tabs-close-icon {
            stroke: #fff;
          }
        }
      }
      .tabs-item:hover {
        .tabs-background-content {
          background-color: #333333;
        }
        .tabs-background-before, .tabs-background-after {
          fill: #333333;
        }
        .tabs-close {
          background-color: #333333;
          .tabs-close-icon {
            stroke: #fff;
          }
        }
      }
      .tabs-close-icon:hover {
        stroke: #fff;
        background-color: #222;
      }
      .tabs-after {
        .btn:hover {
          background-color: #333;
        }
      }
    }
    .header-right {
      span:hover {
        background-color: #333;
      }
      .close:hover {
        background-color: red;
      }
    }
  }

  #setup {
    .sites_select {
      background-color: #333333;
    }
  }

  .side-bar {
    background-color: #0C0C0C;
    color: #fff;
    .el-menu {
      .el-menu-item {
        i, span {
          color: #fff;
        }
      }
      .el-menu-item.is-active {
        color: #FFFFFF;
        border-right: 5px solid #0399FE;
        background: url("../image/sidebar1.png") no-repeat;
        background-color: #202020;
      }
      .el-menu-item:hover {
        background: url("../image/sidebar1.png") no-repeat;
      }
    }
  }

  .meta-storage,
  .image-storage,
  .local-object-storage {
    .disk-item {
      background-color: #2B2B2B;

      .used {
        color: #409EFF;
      }

      .el-progress-bar__outer {
        background-color: #464646 !important;

        .el-progress-bar__inner {
          background-color: #0399FE;
        }
      }
    }
    .active {
      background-color: #3B424D;
      border: 1px solid #409EFF;
    }

    .count {
      .used {
        color: #409EFF;
      }
    }
    .el-progress-bar__outer {
      background-color: #464646 !important;

      .el-progress-bar__inner {
        background-color: #0399FE;
      }
    }
  }
  // 存储状态组件
  .storage-state, .record_status {
    .DatePicker {
      background-color: #2b2b2b;
      .radio-button {
        .el-button {
          width: 60px;
          height: 28px;
          margin-left: 20px;
          --el-button-bg-color: transpanent;
          --el-button-text-color: #0399FE;
          --el-button-border-color: #0399FE;
          span {
            color: #0399FE;
          }
        }
        .active_button {
          --el-button-bg-color: #0399FE;
          --el-button-text-color: #fff;
          --el-button-border-color: #0399FE;
          --el-button-hover-bg-color: #0399FE;
          --el-button-hover-border-color: #0399FE;
          --el-button-hover-text-color: #fff;
          span {
            color: #fff;
          }
        }
      }
    }
    .render {
      background-color: #2b2b2b;
    }
    .pagination-box {
      background-color: #2b2b2b;
    }
  }


  p, span, i, div, h1, h2, h3, h4, h5, h6, button, input {
    color: #fff;
    font-size: 14px;
  }

  .el-message-box {
    background-color: #202020;
    padding: 0;
    .el-message-box__header {
      background-color: #2c2c2c;
      margin: 0;
      padding: 10px;
    }
    .el-message-box__content {
      padding: 20px;
      .warn-tip {
        color: #fe5003;
        font-size: 24px;
      }
      .el-message-box__errormsg {
        color: #fe5003;
      }
    }
    .el-message-box__btns {
      padding: 0 10px 10px 0;
      .warn-cannel-btn {
        width: 60px;
        background-color: transparent;
        border: 1px solid #fe5003;
        span {
          color: #fe5003;
        }
      }
      .warn-confirm-btn {
        width: 60px;
        background-color: #fe5003;
        border: 0;
      }
    }
  }

  .pagination-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .el-pagination {
      .btn-prev, .btn-next {
        background-color: transparent;
        border: 1px solid #4A4A4A;
      }
      .btn-prev:disabled, .btn-next:disabled {
        background-color: transparent;
        border: 1px solid #4A4A4A;
      }
      .el-pager {
        .number {
          background-color: transparent;
          border: 1px solid #4A4A4A;
          color: #a8abb2;
        }
        .more {
          background-color: transparent;
          border: 1px solid #4A4A4A;
          color: #a8abb2;
        }
        .is-active {
          background-color: #0399FE;
          border: none;
          color: #fff;
        }
      }
    }
  }

  .el-radio-group {
    .el-radio-button__inner {
      --el-fill-color-blank: #414141;
      border-color: #414141;
      outline: none;
    }
  }
  .el-input {
    --el-input-bg-color: #5B5B5B;
    --el-input-border-color: #5B5B5B;
    --el-fill-color-blank: #5B5B5B;
    --el-input-hover-border-color: #5B5B5B;
  }
  .is-disabled {
    .el-input__wrapper {
      --el-disabled-bg-color: #5B5B5B;
      --el-disabled-border-color: #5B5B5B;
    }
  }
  .el-form {
    --el-text-color-regular: #fff;
    .el-form-item {
      .el-input__wrapper {
        --el-input-bg-color: transparent;
        --el-input-border-color: #5B5B5B;
      }
    }
  }
  .el-dialog {
    --el-dialog-bg-color: #333333;
  }
  --el-color-primary: #0399FE;
  .el-popper {
    --el-bg-color-overlay: #212121;
    --el-border-color-light: #212121;
    --el-fill-color-light: #121212;
  }
  .el-select {
    .el-select__wrapper {
      // background-color: #121212;
      border: 1px solid #4A4A4A;
      box-shadow: none;
    }
  }
  .el-select {
    --el-text-color-regular: #fff;
  }
  .el-select {
    --el-fill-color-blank: transparent;
    .is-disabled {
      --el-fill-color-light: transparent;
    }
    .el-select__selected-item {
      .el-tag {
        --el-tag-bg-color: #333333;
        --el-tag-text-color: #fff;
      }
    }
  }
  .el-select-dropdown__list {
    .el-select-dropdown__item {
      span {
        color: #606266;
      }
    }
    .is-selected {
      span {
        color: #0399FE;
      }
    }
  }
  .el-picker__popper {
    --el-bg-color-overlay: #2b2b2b;
    --el-border-color-lighter: #4A4A4A;
    --el-border-color-light: transparent;
    .el-date-picker__header {
      --el-datepicker-icon-color: #fff;
      --el-text-color-regular: #fff;
    }
    .el-picker-panel__content {
      --el-datepicker-text-color: #fff;
      --el-datepicker-inrange-bg-color: rgba(3, 153, 254, 0.2);
    }
  }
  .el-menu {
    --el-menu-bg-color: #1E1E1E;
    --el-menu-border-color: #1E1E1E;
    .el-sub-menu__title:hover {
      background: url("../image/sidebar1.png") no-repeat;
      --el-menu-hover-bg-color: transparent;
    }
    .el-menu-item.is-active {
      border-right: 5px solid #0399FE;
      background: url("../image/sidebar1.png") no-repeat;
      background-color: #202020;
      span {
        color: #0399FE;
      }
    }
    .el-menu-item:hover {
      background: url("../image/sidebar1.png") no-repeat;
    }
  }
  .el-button--default.cannel {
    --el-button-bg-color: transparent;
    --el-button-border-color: #0399FE;
    --el-button-hover-bg-color: rgba(255, 255, 255, 0.2);
    --el-button-hover-border-color: #0399FE;
    span {
      color: #0399FE;
    }
  }
  .el-button.cancel {
    --el-button-bg-color: transparent;
    --el-button-border-color: #0399FE;
    --el-button-hover-bg-color: rgba(255, 255, 255, 0.2);
    --el-button-hover-border-color: #0399FE;
    span {
      color: #0399FE;
    }
  }
  .el-button--primary {
    --el-button-bg-color: #0399FE;
    span {
      color: #fff;
    }
  }
  .el-button--text {
    span {
      color: #0399FE;
    }
  }
  .el-table {
    --el-table-bg-color: #181818;
    --el-table-header-bg-color: #2A2A2A;
    --el-table-tr-bg-color: #202020;
    --el-table-border-color: transparent;
    --el-table-row-hover-bg-color: #2A2A2A;
    .el-table__header-wrapper {
      height: 48px;
      .el-table__header {
        height: 100%;
      }
    }
  }
  .el-checkbox {
    .el-checkbox__inner {
      background-color: #494b4e ;
      border: #0399FE 1px solid;
    }
  }
  .is-checked {
    .el-checkbox__inner {
      background-color: #0399FE;
    }
  }
  .el-tree-node {
    --el-tree-text-color: #fff;
    --el-text-color-regular: #fff;
    --el-tree-expand-icon-color: #fff;
    color: #fff;
  }
  .el-tree {
    --el-fill-color-blank: transparent;
    --el-tree-node-hover-bg-color: #222;
  }
}