@font-face {
  font-family: "iconfont"; /* Project id 5079699 */
  src: url('iconfont.woff2?t=1768455541775') format('woff2'),
       url('iconfont.woff?t=1768455541775') format('woff'),
       url('iconfont.ttf?t=1768455541775') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yulan:before {
  content: "\e8a6";
}

.icon-shuaxin:before {
  content: "\e782";
}

.icon-zhiding:before {
  content: "\e69a";
}

.icon-zhandian:before {
  content: "\ea05";
}

.icon-zhandian2:before {
  content: "\ea06";
}

.icon-zhandian3:before {
  content: "\ea07";
}

.icon-guanbi1:before {
  content: "\e6c0";
}

.icon-jia:before {
  content: "\e755";
}

.icon-xitong:before {
  content: "\e850";
}

.icon-xiangqing:before {
  content: "\e848";
}

.icon-guanbixiaoanniu:before {
  content: "\e847";
}

.icon-shezhiicon:before {
  content: "\e86b";
}

.icon-tuilifuwupeizhi:before {
  content: "\e839";
}

.icon-guize:before {
  content: "\e833";
}

.icon-tuilifuwuzhuangtai:before {
  content: "\e846";
}

.icon-shijiansousuo:before {
  content: "\e8b8";
}

.icon-weihu:before {
  content: "\e7d5";
}

.icon-xitongpeizhi:before {
  content: "\e815";
}

.icon-ditu:before {
  content: "\e82a";
}

.icon-shitu2:before {
  content: "\e853";
}

.icon-a-DeviceManagement:before {
  content: "\e9ef";
}

.icon-a-StorageSetting:before {
  content: "\e9f0";
}

.icon-a-VideoConfiguration:before {
  content: "\e9f1";
}

.icon-a-SetUp:before {
  content: "\e9f2";
}

.icon-dengru:before {
  content: "\e9ed";
}

.icon-shengyinguan:before {
  content: "\e7bf";
}

.icon-shengyinkai:before {
  content: "\e7c0";
}

.icon-wusheng:before {
  content: "\e7c1";
}

.icon-guanbi2:before {
  content: "\e7f2";
}

.icon-quanping1:before {
  content: "\e7f1";
}

.icon-zanting:before {
  content: "\e859";
}

.icon-bofang:before {
  content: "\e858";
}

.icon-androidgengduo:before {
  content: "\e78d";
}

.icon-sousuo1:before {
  content: "\e651";
}

.icon-tishi:before {
  content: "\e619";
}

.icon-yuandian:before {
  content: "\e745";
}

.icon-lingdang:before {
  content: "\e725";
}

.icon-gen:before {
  content: "\e76a";
}

.icon-shebeiguanli:before {
  content: "\e777";
}

.icon-shexiangjikongxian:before {
  content: "\e7ea";
}

.icon-shexiangjizaixian:before {
  content: "\e7e8";
}

.icon-shexiangjilixian:before {
  content: "\e7e7";
}

.icon-Device:before {
  content: "\e7f0";
}

.icon-liebiao:before {
  content: "\e81c";
}

.icon-xinjian:before {
  content: "\e81b";
}

.icon-lanqiuji:before {
  content: "\e88f";
}

.icon-lanshexiangji:before {
  content: "\e890";
}

.icon-lvshexiangji:before {
  content: "\e88e";
}

.icon-lvqiuji:before {
  content: "\e889";
}

.icon-baiqiuji:before {
  content: "\e88a";
}

.icon-baishexiangji:before {
  content: "\e88b";
}

.icon-heiqiuji:before {
  content: "\e88c";
}

.icon-heishexiangji:before {
  content: "\e88d";
}

.icon-xiazai:before {
  content: "\e8d9";
}

.icon-shitu:before {
  content: "\e8c3";
}

.icon-shouye:before {
  content: "\e8cb";
}

.icon-caidanlan:before {
  content: "\e8cc";
}

.icon-peizhi:before {
  content: "\e7fd";
}

.icon-chakan:before {
  content: "\e7fc";
}

.icon-tuichu:before {
  content: "\e84f";
}

.icon-yonghu:before {
  content: "\e8b6";
}

.icon-mima:before {
  content: "\e8b7";
}

.icon-bukejian:before {
  content: "\e8b9";
}

.icon-kejian:before {
  content: "\e8ba";
}

.icon-guanbibiaoqian:before {
  content: "\e8cd";
}

.icon-zuixiaohua:before {
  content: "\e8d0";
}

.icon-zuidahua:before {
  content: "\e8d1";
}

.icon-xiangxiahuanyuan:before {
  content: "\e8d2";
}

.icon-guanbi:before {
  content: "\e8d3";
}

.icon-shebei:before {
  content: "\e9ec";
}

